@import "./base.scss";
@import "./sass/variables.scss";
@import "./sass/mixins.scss";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: 0.8; */
  }
}

@media (min-width: 1024px) {
}
