.btn-blue {
  align-items: center;
  padding: 11px 15px;
  height: 30px;
  background: #82f7ff;
  border-radius: 16px;
  font-weight: 600;

  @media (min-width: 768px) {
    padding: 12px 25px;
    height: 38px;
  }
}

button {
  display: inline-flex;
  align-items: center;

  padding: 11px 15px 12px 15px;
  height: 30px;

  border: 0;
  border-radius: 16px;
  background: $framework-light;
  transition: 0.3s background ease;

  /*font-family: SF Pro Text;*/
  font-size: 14px;
  text-align: center;

  &:hover {
    background: $grey;
  }
}

.btn-red {
  background-color: rgba($red, 0.15);
  fill-opacity: 0.6;
  color: $red;

  &:hover {
    background-color: rgba($red, 0.3);
  }
}
