// colors
$white: #ffffff;
$framework-light: #f6f7fb;
$framework-dark-1: #3f3a50;
$grey: #d1d6e0;
$red: #f87b7b;
$brand-primary: #7572ff;

// text colors
$text-white: $white;
$text-black: #000000;
$text-grey: #55595d;
$text-disabled: #a2a9af;

// borders colors
$framework-borders: $grey;

// heights
$header-height: 50px;
$header-height-tablet: 80px;
$header-height-desktop: 100px;

// Listings component
$listings-gap-tablet: 15px;
$tile-width-tablet: 327px;
